<div id="body">
    <div>no payload -> response 0</div>
    <div id="result0" class="result"></div>
    <div>empty payload -> response 0</div>
    <div id="result1" class="result"></div>
    <div>no drm -> response 0</div>
    <div id="result2" class="result"></div>
    <div>no episodeCount-> response 0</div>
    <div id="result3" class="result"></div>
    <div>drm false -> response 0</div>
    <div id="result4" class="result"></div>
    <div>episodeCount lt 0  -> response 0</div>
    <div id="result5" class="result"></div>
    <div>drm true &  episodeCount gt 1-> response 1</div>
    <div id="result6" class="result"></div>
    <div>invalid Json -> response error</div>
    <div id="result7" class="result"></div>
</div>
@section scripts
{
    <script>
        $(function () {

            $("result").html("Posting data, please wait ......");

            var testdata0 = {
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata0),
                contentType: "application/json",
                success: function (data) {
                    if(data.response.length == 0)
                        $("#result0").html("Pass");
                    else
                        $("#result0").html("Fail");
                }
            });


            var testdata1 = {
                "payload": [],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata1),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 0)
                        $("#result1").html("Pass");
                    else
                        $("#result1").html("Fail");
                }
            });

            var testdata2 = {
                "payload": [
                    {
                        "episodeCount": 3,
                        "slug": "show/16kidsandcounting",
                        "title": "16 Kids and Counting",
                        "tvChannel": "GEM"
                    }
                ],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata2),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 0)
                        $("#result2").html("Pass");
                    else
                        $("#result2").html("Fail");
                }
            });

            var testdata3 = {
                "payload": [
                    {
                        "drm": true,
                        "slug": "show/16kidsandcounting",
                        "title": "16 Kids and Counting",
                        "tvChannel": "GEM"
                    }
                ],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata3),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 0)
                        $("#result3").html("Pass");
                    else
                        $("#result3").html("Fail");
                }
            });

            var testdata4 = {
                "payload": [
                    {
                        "drm": false,
                        "slug": "show/16kidsandcounting",
                        "title": "16 Kids and Counting",
                        "tvChannel": "GEM"
                    }
                ],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata4),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 0)
                        $("#result4").html("Pass");
                    else
                        $("#result4").html("Fail");
                }
            });

            var testdata5 = {
                "payload": [
                    {
                        "episodeCount": 0,
                        "slug": "show/16kidsandcounting",
                        "title": "16 Kids and Counting",
                        "tvChannel": "GEM"
                    }
                ],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata5),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 0)
                        $("#result5").html("Pass");
                    else
                        $("#result5").html("Fail");
                }
            });

            var testdata6 = {
                "payload": [
                    {
                        "drm": true,
                        "episodeCount": 3,
                        "slug": "show/16kidsandcounting",
                        "title": "16 Kids and Counting",
                        "tvChannel": "GEM"
                    }
                ],
                "skip": 0,
                "take": 10,
                "totalRecords": 75
            };

            $.ajax({
                type: "POST",
                url: "/",
                data: JSON.stringify(testdata6),
                contentType: "application/json",
                success: function (data) {
                    if (data.response.length == 1)
                        $("#result6").html("Pass");
                    else
                        $("#result6").html("Fail");
                }
            });

            var testdata7 = "Test";

            $.ajax({
                type: "POST",
                url: "/",
                data: testdata7,
                contentType: "application/json",
                success: function () {
                    $("#result7").html("Fail");
                },
                error: function (ex) {
                    if (ex.responseJSON != null && ex.responseJSON.error != null && ex.responseJSON.error.indexOf("Could not decode request") >= 0)
                        $("#result7").html("Pass");
                    else
                        $("#result7").html("Fail");
                }
            });
        });
    </script>
}
